{% extends 'base.html.twig' %}

{% block titrePage %}Stages disponibles{% endblock %}

{% block contenuPage %}
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Entreprise</th>
          <th scope="col">Adresse</th>
          <th scope="col">Formation</th>
          <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for stageCourant in stages %}
          {# on rajoute une ligne pour chaque stage #}
          <tr onclick="window.location='{{path('pro_stages_stages', {'id' : stageCourant.id })}}';">
            <th scope="row">{{loop.index}}</th>
            <td>{{stageCourant.titre}}</td>
            <td>{{stageCourant.entreprise.nom}}</td>
            <td>{{stageCourant.entreprise.adresse}}</td>
            <td>{% for formation in stageCourant.formations %}
                  {{formation.titre }} .
                {% endfor %}</td>
            <td>{{stageCourant.email}}</td>
          </tr>

  {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
