{% extends 'base.html.twig' %}

{% block titrePage %}Stage {{stage.titre}}{% endblock %}

{% block contenuPage %}
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Entreprise</th>
          <th scope="col">Adresse</th>
          <th scope="col">Activité</th>
          <th scope="col">Formation</th>
          <th scope="col">Domaine</th>
          <th scope="col">Description</th>
          <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
          <tr>
            <td>{{stage.titre}}</td>
            <td>{{stage.entreprise.nom}}</td>
            <td>{{stage.entreprise.adresse}}</td>
            <td>{{stage.entreprise.activite}}</td>
            <td>{% for formation in stage.formations %}
                  {{formation.titre }} .
                {% endfor %}</td>
            <td>{{stage.domaine}}</td>
            <td>{{stage.description}}</td>
            <td>{{stage.email}}</td>
          </tr>
    </tbody>
  </table>
</div>
{% endblock %}
